.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.itemName b, .itemLanguage b {
    margin-right: 8px;
}

.itemLanguage {

}

.itemLink {
    display: block;
    background-color: var(--corSecundaria);
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    border-radius: 25px;
    text-decoration: none;
}